		
/* **************************************************************************** */
/* 									- THEME -									*/
/* **************************************************************************** */
	
		* {
				margin				: 0;
				padding				: 0;
		}
		
		
		
/* **************************************************************************** */
/*									- BODY -									*/
/* **************************************************************************** */
	
	/* theme */
		
		.theme--lighter {
			background-color		: white;
		}
		
		.theme--light {
			background-color		: white;
		}
		
		
	/* display */
		
		html {
			scroll-behavior			: smooth;
		}
		
		body {
			color					: black!important;
		}
		a {
			color					: inherit;
		}
		
		.whole__page {
			width					: 100%;
			margin					: 0 auto;
			font-family				: 'Raleway', sans-serif;
			font-size				: 1em;
		}
		
		section, aside, article, footer, .hosts {
			padding-left			: 1.25em;
			padding-right			: 1.25em;
			padding-bottom			: 1em;
		}
		
		h1 {
			font-size				: 1.375em; /* 22px */
			padding-top				: 1.4em;
			padding-bottom			: 1.0em;
		}
		h2 {
			font-size				: 1.125em; /* 18px */
			padding-top				: 1.0em;
			padding-bottom			: 1.0em;
		}
		h3 {
			font-size				: 1.075em; /* 18px */
			padding-top				: 1.0em;
			padding-bottom			: 1.0em;
		}
		h4 {
			font-size				: 1.0em; /* 16px */
			padding-bottom			: 0.5em;
		}
		
		
			
/* **************************************************************************** */
/*									- HEADER -									*/
/* **************************************************************************** */
	
	/* header */
		header {
			
			/* flexbox (mobile setup) */
			display					: flex;
			flex-wrap				: wrap;
			justify-content			: space-between;
		    align-items				: center;
		    align-content			: center;
		    flex-direction			: row;
		    
		    /* set font for all items */
			font-family				: 'Raleway', sans-serif;
			font-weight				: bold;
		}
		
		/* logo image */
		.header__logo {
			padding					: 1.5em 0 0.85em 1.25em;
		}
		
		.header__subscribe {
			/* larger area for smartphone */
			display					: block;
			height					: auto;
			
			padding-right			: 1.375em;
			
			/* remove underline */
			text-decoration			: none;
			
			color					: #0065FC;
		}
		
		/* Hosts/Activities navigation */
		header nav {
			/* flexbox (mobile setup) */
			display					: flex;
		    align-items				: center;
		    align-content			: center;
		    flex-direction			: row;
		    
			/* use the full screen width */
			width					: 100%;
		}
		
		.nav--item {
			display					: block;
			width					: 50%;
			height					: auto;
			padding					: 0.9em 0 0.8em 0;
			
			text-align				: center;
			text-decoration			: none;
			
			transition				: 0.5s;
			color					: #000000;
			border-bottom			: 3px solid #F2F2F2;
		}
		
		.nav--item:hover {
			transition				: 0.5s;
			color					: #0065FC;
			border-bottom			: 3px solid #0065FC;
		}
		
		
		
/* **************************************************************************** */
/*									- MAIN -									*/
/* **************************************************************************** */
	
	/* Settings */
		
		/* searchbar */
		
		/* vertical spaces between elements */
		.settings__heading {
			padding-bottom			: 0.25em;
		}
		.settings__subtitle {
			padding-bottom			: 1em;
		}
		.settings .box {
			padding-bottom			: 1em;
		}
		
		/* the search bar */
		.searchbar {
			max-width				: 26em;
			border-radius			: 1em;
			border-top				: 1px solid #F2F2F2;
			border-bottom			: 1px solid #F2F2F2;
		}
		
		.searchbar__form {
			/* flexbox */
			display					: flex;
			flex-direction			: row;
			flex-wrap				: nowrap;
			justify-content			: flex-start;
			
			font-size				: 1.0em;
			height					: 3.0em;
		}
		
		.searchbar__location {
			height					: 100%;
			width					: 3em;
			
			border-radius			: 1em 0px 0px 1em;
			
			color					: #000000;
			background-color		: #F2F2F2;
			text-align				: center;
		}
		
		.searchbar__icon {
			/* center the icon */
			padding-top				: 1em;
		}
		
		.searchbar__text {
			height					: 100%;
			
			padding-left			: 0.2em;
			/* remove borders */
			border					: none;
			
			font-size				: 18px;
		}
		
		.searchbar__button {
			/* reset "em" size */
			font-size				: 1.0em;
			height					: 100%;
			width					: 3.0em;
			/* button stuck on the right */
			margin-left				: auto;
			
			/* remove borders */
			border					: none;
			outline					: none; /* hotfix for chrome */
			
			transition				: border-width 500ms, border-color 500ms, background-color 500ms, color 500ms;
			color					: #FFFFFF;
			background-color		: #0065FC;
			border-radius			: 1em;
		}
		.searchbar__button__name {
			display					: none;
		}
		
		.searchbar__button:hover, .searchbar__button:active {
			color					: blue;
			background-color		: white;
		}
		.searchbar__button:hover {
			border					: 1px dashed blue;
		}
		.searchbar__button:active {
			border					: 4px solid blue;
		}
		
		
		
	/* filters */
		
		.settings__title {
			padding-bottom			: 1em;
			width : 100%;
		}
		
		.settings .box {
			padding-bottom			: 1em;
			
			width					: 100%;
			
			display					: flex;
			flex-wrap				: wrap;
			justify-content			: flex-start;
			flex-direction			: row;
		}
		
		.filter {
			font-size				: 18px;
			font-weight				: bold;
			height					: 2.5em;
			margin-bottom			: 0.8em;
			margin-right			: 0.5em;
			border-radius			: 1.5em;
			border					: 2px solid lightgrey;
			
			cursor					: pointer;
			transition				: background-color 0.5s, border-color 0.5s;
		}
		.filter:hover {
			border					: 2px solid #5cf;
			background				: #5cf;
		}
		.filter:hover>.filter__icon {
			background-color		: #5cf;
		}
		
		/* does not show the checkbox */
		.filter__checkbox {
			display					: none;
		}
		.filter__name {
			font-size				: 18px;
			height					: auto;
			
			padding-left			: 0.1em;
			padding-right			: 0.8em;
			
			background-color		: transparent;
			border					: none;
			cursor					: pointer;
			outline					: inherit;
		}
		
		.filter__icon {
			width					: 1.85em;
			height					: 1.85em;
			
			/* offset the circle to overlap borders */
			margin					: -2px 0 0 -3px;
			border-radius			: 1.425em;
			/* offset icons to adjust the center position */
			padding-top				: 0.9em;
			padding-left			: 0.9em;
			
			transition				: background-color 0.5s, color 0.5s;
			color					: #0065FC;
			background-color		: #DEEBFF;
		}
		
		.filter__checkbox:checked~.filter__icon {
			background-color		: blue;
			color					: white;
		}
		
		
		.settings__info {
			margin-bottom			: 1.5em;
		}
		.fa-info {
			font-size				: 11px;
			border					: 1px solid lightgrey;
			padding					: 5px 9px 6px 9px;
			border-radius			: 12px;
			color					: #0065FC;
			float					: left;
			margin-right			: 1em;
		}
		
		
		
	/* rating with stars */
		
		/* "good" stars */
		.rating--up		{ color		: #0065FC; }
		/* "bad stars" */
		.rating--down	{ color		: lightgrey; }
		
		/* add 1 to 5 stars "after" */
		.rating--1:after{ content	: "\f005"; }
		.rating--2:after{ content	: "\f005\f005"; }
		.rating--3:after{ content	: "\f005\f005\f005"; }
		.rating--4:after{ content	: "\f005\f005\f005\f005"; }
		.rating--5:after{ content	: "\f005\f005\f005\f005\f005"; }
		
		
		
	/* card template */
		
		/* container */
		.card__box {
			display					: flex;
			flex-direction			: column;
			justify-content			: space-between;
		}
		
		.card__box a {
			text-decoration			: none;
			cursor					: pointer;
		}
		
		.card {
			display					: flex;
			flex-direction			: row;
			justify-content			: space-between;
			width					: auto;
			font-size				: 1em;
			border-radius			: 1.5em;
			background-color		: #FFFFFF;
			box-shadow				: 0 0 1.5em #e0e0e0;
		}
		
		.card__image__box {
			height					: auto;
			flex					: 2;
		}
		.card__image {
			width					: 100%;
			height					: 100%;
			object-fit				: cover;
		}
		.card__desc {
			display					: flex;
			flex-direction			: column;
			justify-content			: flex-start;
			height					: auto;
			margin					: 0.5em;
			flex					: 3;
		}
		.card__price {
			font-size				: 14px;
		}
		.card__ratings {
			font-size				: 13px;
			/* stars on the bottom of the card */
			margin-top				: auto;
		}
		
		
		
	/* Hosts */
		
		.hosts {
			display					: flex;
			flex-direction			: column;
			padding-top				: 0;
			padding-bottom			: 0;
			margin					: 0;
			padding					: 0;
		}
		
		.hosts--hidden {
			display					: none;
		}
		
		.populars {
			display					: flex;
			justify-content			: space-between;
			align-items				: center;
			align-content			: flex-start;
			flex-wrap				: wrap;
			flex-direction			: row;
		}
		.fa-chart-line {
			padding-top				: 0.7em;
			font-size				: 20px;
		}
		
		/* populars */
		.populars .card {
			/* space between cards */
			margin-bottom			: 11px;
		}
		
		.populars .card__image__box {
			height					: auto;
			padding					: 5px 5% 5px 5px;
		}
		.populars .card__image {
			border-radius			: 15px 0 0 15px;
			height					: 134px;
		}
		
		
		/* city s */
		.cities .card {
			flex-direction			: column;
			margin-bottom			: 11px;
			width					: auto;
		}
		.cities .card__image__box {
			padding					: 5px 5px 0 5px;
			width					: auto;
			height					: auto;
		}
		.cities .card__image {
			height					: 134px;
			border-radius			: 15px 15px 0 0;
		}
		
		.hosts__showmore {
			font-size				: 1.2em; /* 18px */
			font-weight				: bold;
			padding-top				: 1.0em;
			padding-bottom			: 1.0em;
			color					: #000000;
			border					: none;
			background-color		: transparent;
			outline					: none;
		}
		
		
		
	/* activities */
		
		.activities .card {
			flex-direction			: column;
			margin					: 0.5em 1%;
		}
		.activities .card__image__box {
			padding-bottom			: 0.5em;
		}
		.activities .card__image {
			border-radius			: 16px 16px 0 0;
			height					: 134px;
		}
		.activities .card__title {
			padding-left			: 0.5em;
			padding-bottom			: 1.0em;
		}
		
		.activities {
			padding-bottom			: 3em;
		}
		
/* **************************************************************************** */
/*									- FOOTER -									*/
/* **************************************************************************** */
	
		footer {
			padding-top				: 3em;
		}
		
		.footer {
			display					: flex;
			flex-wrap				: nowrap;
			justify-content			: flex-start;
			flex-direction			: column;
			
			color					: #000000;
		}
		
		.footer__list {
			list-style-type			: none;
			padding					: 0;
		}
		.footer__list li {
			padding-bottom			: 1em;
		}
		
		
		
/* **************************************************************************** */
/*								- MEDIA QUERIES -								*/
/* **************************************************************************** */
	
	/* tablet/Low resolution desktop */
	@media all and (min-width: 768px) {
		.whole__page{
			margin					: 0;
		}
		
		
		/* header */
			
			.header__subscribe {
				text-align			: center;
				width				: 8em;
				order				: 1;
			}
			header nav {
				width				: 22em;
				margin-left			: auto;
			}
			.nav--item {
				padding				: 3.5em 0;
				transition			: border-color 0.5s;
				border				: none;
				border-top			: 3px solid #F2F2F2;
			}
			.nav--item:hover {
				border				: none;
				border-top			: 3px solid #0065FC;
			}
			
		/* filters */
			.filter {
				margin-right		: 1.5em;
			}
			
			.searchbar__button {
				width				: auto;
				padding-left		: 15px;
				padding-right		: 15px;
			}
			.searchbar__button__name {
				display				: inline;
			}
			
			.fa-search {
				display				: none;
			}
			
			.settings__title {
				width				: auto;
				margin-right		: 2em;
			}
			
		/* populars/cities */
			
			/* populars */
			.populars .card__box {
				flex-direction		: row;
			}
			
			.populars .card {
				flex-direction		: column;
				width				: 32%;
			}
			.populars .card__image__box {
				height				: 134px;
				padding				: 5px 5px 0 5px;
			}
			.populars .card__image {
				border-radius		: 15px 15px 0 0;
			}
			
			
			/* city */
			.cities .card {
				width				: 48%;
			}
			.cities .card__box {
				flex-direction		: row;
				flex-wrap			: wrap;
			}
			
			
			
		/* activities */
			
			.activities .card__box {
				flex-direction		: column;
				justify-content		: space-between;
				height				: 640px;
				flex-wrap			: wrap;
				width				: 100%;
			}
			.activities .card {
				width				: 30%;
				height				: auto;
				padding				: 0;
				margin				: auto;
			}
			.activities .card__desc {
				padding-left		: 1em;
				font-size			: 15px;
			}
			
			#id__card_4{ order:1; }
			
			.card5 .card__image {
				height				: 370px;
			}
			.card3 .card__image {
				height				: 240px;
			}
			.card2 .card__image {
				height				: 120px;
			}
			
			.activities {
				padding-bottom		: 3em;
			}
			
		/* footer */
			.footer {
				flex-direction		: row;
				justify-content		: start;
			}
			.footer div {
				width				: 30%;
			}
	}
	
	/* desktop */
	@media all and (min-width: 992px) {
		.whole__page {
			margin					: 0 auto;
			max-width				: 1440px;
		}
		
		section, aside, article, footer, header {
			padding-left			: 3.5em;
			padding-right			: 3.5em;
		}
		
		.header__subscribe {
			text-align				: center;
			width					: 8em;
			order					: 1;
		}
		header nav {
			width					: 22em;
			margin-left				: auto;
		}
		.nav--item {
			padding					: 3.5em 0;
			border					: none;
			border-top				: 3px solid #F2F2F2;
		}
		.nav--item:hover {
			border					: none;
			border-top				: 3px solid #0065FC;
		}
		
		
		/* populars/cities */
			
			.hosts {
				flex-direction		: row;
				justify-content		: space-between;
				padding				: 0 3.5em;
				background-color	: #FFFFFF;
			}
			
			.cities, .populars {
				background-color	: #F2F2F2;
				border-radius		: 18px;
				padding-left		: 2%;
				padding-right		: 2%;
			}
			
			/* populars */
			.populars {
				order				: 1;
				width				: 28%;
			}
			
			.populars .card__box {
				flex-direction		: column;
				/* space between cards */
				margin-bottom		: 11px;
			}
			
			.populars .card__image__box {
				height				: 134px;
				padding				: 5px 5% 5px 5px;
			}
			.populars .card__image {
				border-radius		: 15px 0 0 15px;
			}
			
			.populars .card {
				flex-direction		: row;
				width				: 100%;
				height				: auto;
				margin				: 0 auto 32px auto;
			}
		
			/* city */
			.cities {
				width				: 60%;
			}
			.cities .card {
				width				: 31%;
				margin-left			: 1%;
				margin-right		: 1%;
				flex-grow			: 1;
				min-width			: 220px;
			}
			
		/* activities */
			
			.activities .card__box {
				flex-direction		: column;
				justify-content		: space-between;
				flex-wrap			: wrap;
				
				width				: 100%;
				height				: 450px;
			}
			
			.activities .card__image {
				height				: 20px;
			}
			.activities .card__image__box {
				height				: 40px;
			}
			
			.activities .card {
				width				: 23%;
				padding				: 0;
				margin				: 0;
			}
			
			.card5 .card__image {
				height				: 406px;
			}
			.card3 .card__image {
				height				: 220px;
			}
			.card2 .card__image {
				height				: 120px;
			}
			
			.card5 {
				height				: 455px;
			}
			.card3 {
				height				: 180px;
			}
			.card2 {
				height				: 110px;
			}
			.activities .card__title {
				padding-left		: 0.5em;
				font-size			: 14px;
			}
			#id__card_5{ order:1; }
			#id__card_6{ order:1; }
	}
